---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Home">
  <div class="flex flex-col gap-2">
    <Button as="a" href="/e2a">E2A</Button>
    <Button as="a" href="/record">Record Words</Button>
  </div>
</Layout>
